.dot-grid {
 
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.dot-grid__wrap {
   position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  padding-top: 80px; /* Increased to account for navbar margin + height */
  box-sizing: border-box;
 

}

.dot-grid__canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.Main_title {
  font-size: 10rem;
  font-weight: bold;
  color: white;
  margin-bottom: 0.01rem;
  margin-top: 5rem;
  z-index: 10;
  transition: transform 0.3s ease;
}
.Main_title:hover{
  transform: scale(1.05);
  
}

.mini_title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  z-index: 10;

}
.title_text{
  display:flex;
  flex-direction: column;
  margin-bottom: 20rem;
}


.img_card{
  
  width:100%;
  height:100%;
  flex: 0 0 40%;


  /* Scroll animation (new browsers) */
  animation: popUp 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
.intro_section{
  display: block;
  margin-bottom: 20rem;
  align-items: center;
}

.img_card{
  width:140px;
  height:140px;
  float:left;
  margin-right:1rem;
  margin-bottom:1rem;
}
 


  .Main_title {
    font-size: 3.5rem;
    margin-top: 4rem;
  }

  .mini_title {
    font-size: 1.2rem;
  }
}